  <div>
    <img [src]="data_proyek?.gambar" class="foto">
    <div class="profile-bg">
        <div class="fading">
            <div class="profile-bg2">
      
            </div>
        </div>
    </div>
    <h1 class="nama">Agung Ramadhan</h1>
    <div class="profesi">
        <h3 class="profesi">Junior Website Developer</h3>
        <h3 class="profesi">Project: {{ data_proyek?.judul }}</h3> 
        <h3 class="profesi">Date: {{ data_proyek?.tgl }}</h3>
    </div>
</div>
<div id="Home">
  <h1>About Me</h1>
  <p>I am a Junior Website developer who graduated <br>
  from SMK Telkom Shandy Putra vocational school in Malang. <br>
  During my time there, I am known for being active during <br>
  class and events like socialization. I also liked to work <br>
  in a team during school projects. I also have experience <br>
  in website development during my time in school and during <br>
  my time as an intern.</p>
  <div class="keahlian">
      <h1>Skill</h1>
      <img src="skill.png" alt="Error." class="foke">
  </div>
</div>
