  <div>
    <img [src]="data_proyek?.gambar" class="foto">
    <div class="profile-bg">
        <div class="fading">
            <div class="profile-bg2">
      
            </div>
        </div>
    </div>
    <h1 class="nama">Agung Ramadhan</h1>
    <div class="profesi">
        <h3 class="profesi">Junior Backend Developer</h3>
        <h3 class="profesi">Project: {{ data_proyek?.judul }}</h3> 
        <h3 class="profesi">Tanggal: {{ data_proyek?.tgl }}</h3>
    </div>
</div>
<div id="Home">
  <h1>Tentang Saya</h1>
  <p>Saya merupakan seorang Junior backend developer <br>
      yang lulus dari SMK Telkom Shandy Putra di Malang.<br>
      Selama saya menjadi Siswa di SMK Telkom Shandy<br>
      Putra di Malang, Saya mempelajari beberapa bahasa <br>
      pemrograman seperti JavaScript, HTML, CSS dan PHP.<br>
      saya juga belajar Node.js dan React.js. Untuk<br>
      database, saya Diajari MySQL.</p>
  <div class="keahlian">
      <h1>Keahlian</h1>
      <img src="skill.png" alt="Maaf, tidak ada foto/ ada kesalahan." class="foke">
  </div>
</div>
